$black: black; 
$white: white; 
%textalign {
  text-align: center;
}
%fontsize {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

html {
  @extend %fontsize;
}
body {
  background-color: $black;
}
.logocontainer {
  display: flex;
  flex-flow: column wrap; 
  align-content: center;
  p {
    color: $white;
    @extend %textalign;
  }
  .button {
    @extend %textalign;
  }
}




