* {
  box-sizing: border-box;
}
html {
  @extend %fontsize;
}
body {
  background-color: $black;
  @extend %font;
}
.large-logo-container {
  display: flex;
  flex-flow: column wrap; 
  align-items: center;
  padding-top: 130px;
  
  @include desktop {
    flex-flow: row nowrap;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .large-top-image {
    width: 220px;
    
    @include desktop {
      margin-right: 80px;
      width: 65px;
    }
  }
    p {
      color: $white;
      @extend %textalign;

#article-selection {
  width: 50px;

  @include desktop {
        
    }
      
  }
 }
}
// .small-container {
//   flex-flow: row nowrap;
//   padding-left: 30px;
//   padding-top: 10px;
//   padding-bottom: 20px;
// }
// .small-top-image {
//   margin-right: 80px;
//   width: 200px;
// }



