* {
  box-sizing: border-box;
}
html {
  @extend %fontsize;
}
body {
  background-color: $black;
  @extend %font;
}
.logocontainer {
  display: flex;
  flex-flow: column wrap; 
  align-items: center;
  padding-top: 20px;
  
  @include desktop {
    flex-flow: row nowrap;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .topimage {
    width: 140px;
    @include desktop {
      margin-right: 80px;
      width: 65px;
    }
  }
    p {
      color: $white;
      @extend %textalign;

#article-selection {
  width: 50px;

  @include desktop {
        
    }
      
  }
 }
}




