//media queries 
$desktop: 1000px;
$tablet: 600px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
//styles
$black: black; 
$white: white; 
%textalign {
text-align: center;
}
%fontsize {
  font-size: 16px;
}
%font {
  font-family: 'Open Sans';
}


